<%= form_for(@cohort) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :start_at %>
    <%= f.text_field :start_at, data:{ provide:'datepicker' }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :end_at %>
    <%= f.text_field :end_at, data:{ provide:'datepicker' }, class: 'form-control' %>
  </div>

  <h3>Categories</h3>
  <div id="categories">
    <%= f.fields_for :categories do |category| %>
      <%= render 'category_fields', :f => category %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add category', f, :categories, class: 'btn btn-primary' %>
    </div>
  </div>

  <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
  <%= f.submit "Save and activate cohort", class: "btn btn-primary", name: 'activate_cohort' %>
<% end %>
