<% provide(:title, 'All Cohorts') %>

<div class="row">
  <div class="col-md-12">
    <div class="title-with-button"><h1>All Cohorts</h1></div>
  </div>
</div>

<% unless @active_cohort.nil? %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h3>Active Cohort</h3>
        <%= render @active_cohort %>
      </div>
    </div>
  </div>
<% end %>

<h3>Inactive Cohorts</h3>
<div class="row">
  <div class="col-lg-8"><span class="pull-left"><%= will_paginate %></span></div>
  <div class="col-lg-4">
    <%= link_to "New Cohort", new_cohort_path, class: "btn btn-primary pull-right"%>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <ul class="users">
      <%= render @cohorts %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-lg-12"><%= will_paginate %></div>
</div>
