<% provide(:title, @episode.title) %>
<% provide(:meta_description, truncate(strip_tags(@episode.description), :length => 120)) %><div class="episode">
  <div class="episode-card">
    <div class="episode-title"><%= @episode.title %></div>
    <small><p style="margin-top:-10px"> <%= @episode.published_date.strftime("Published: %F") %> | <a href="<%= @episode.url %>">Listen on Podbean</a></p></small>
    <%= sanitize(@episode.description) %>
    <audio controls>
      <source src="<%= @episode.audio_url %>" type="<%= @episode.audio_format %>">
    </audio>
  </div>
</div>
