<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :attacker %>
    <%= f.number_field :attacker %>
  </div>

  <div class="field">
    <%= f.label :defender %>
    <%= f.number_field :defender %>
  </div>

  <div class="field">
    <%= f.label :winner %>
    <%= f.number_field :winner %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.number_field :location %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
