<p id="notice"><%= notice %></p>

<p>
  <strong>Attacker:</strong>
  <%= @game.attacker %>
</p>

<p>
  <strong>Defender:</strong>
  <%= @game.defender %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game.winner %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
