<%= label_tag :checkbox, class: "checkbox inline" do %>
  <%= check_box_tag :checkbox %>
  <span><%= f.object.category.title %></span>
<% end %>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control' %>
</div>