<table class="table table-striped">
  <tr>
    <td class="col-md-3"><%= check_box_tag "#{f.object.category.title.parameterize(separator: '_')}_#{f.object.category.id}", nil, f.object.description.present?, class: 'apply-category' %> <b><%= f.object.category.title %></b></td>
    <td class="col-md-9"><%= sanitize(f.object.category.description) %></td>
  </tr>

  <tr class="category-description" <%= 'style=display:none' unless f.object.description.present? %>>
    <td><%= f.label :description %></td>
    <td><%= f.text_area :description, class: 'form-control custom-control' %></td>
  </tr>
  <%= f.hidden_field :category_id %>
</table>
