<% provide(:title, 'Current submissions') %>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>Submissions</h1>
  </div>
  <div class="col-xs-3">
    <%= link_to "New Submission", new_submission_path, class: "btn btn-primary pull-right"%>
  </div>
</div>

<div class="well">
  <div class="row">
    <div class="col-md-12">
      <h3>Current Open Submissions</h3>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Project Name</th>
      <th>Project Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <%= render @active_submissions unless @active_submissions.empty? %>
  </table>
  <%= will_paginate @active_submissions, param_name: :active_page %>
</div>

<div class="well">
  <div class="row">
    <div class="col-xs-9">
      <h3>Past Submissions</h3>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#old-submissions" aria-expanded="false" aria-controls="collapseExample">
        Show
      </button>
    </div>
  </div>
  <div class="collapse" id="old-submissions">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Project Name</th>
        <th>Project Description</th>
        <th>Actions</th>
      </tr>
      </thead>
      <%= render @old_submissions %>
    </table>
    <%= will_paginate @old_submissions, param_name: :old_page %>
  </div>
</div>
