<% provide(:title, @submission.name) %>

<p>
  <strong>Name:</strong>
  <%= @submission.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @submission.description %>
</p>

<% @submission.attachments.each do |attachment| %>
  <p>Attachment preview:</p>
  <%= image_tag attachment.url, class: 'img-responsive' %>
<% end %>


<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
