<% provide(:title, @submission.name) %>
<div class="row">
  <div class="col-md-12">
    <h1><%= @submission.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3><%= sanitize(@submission.project_location) %></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      <%= sanitize(@submission.description) %>
    </p>
  </div>
</div>


<% @submission.attachments.each do |attachment| %>
  <p>Attachment preview:</p>
  <%= image_tag attachment.url, class: 'img-responsive' %>
<% end %>


<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
