<%= form_for(@post, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :publish_date %>
    <%= f.text_field :publish_date, data:{ provide:'datepicker' }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :user, 'Author' %>
    <%= collection_select(:post, :user_id, User.all, :id, :name, {:selected => @post.user.nil? ? current_user.id : @post.user.id}) %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="btn-group-vertical btn-block">
        <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
