<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link rel="icon" type="image/png" href="<%= image_path "hobbynight70.png"%>">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  <script>
      $.fraola_initializer = {
          toolbarStickyOffset: 50,
          key: 'PG-10dpj1xB3wwdqwI2J3B10B7B7A5F4igqknsfxyG5hcj1==',
          imageUploadToS3: <%= @aws_data.to_json.html_safe %>,
          toolbarButtons: ['undo', 'redo' , '|', 'bold', 'italic', 'underline', 'strikeThrough', '|', 'insertLink', 'insertImage'],
          linkList: [
              {
                  text: 'Games Workshop',
                  href: 'https://games-workshop.com',
                  target: '_blank'
              },
              {
                  text: 'HNIC Facebook',
                  href: 'https://www.facebook.com/HobbyNightInCanada/'
              }
          ]
      };

      $(document).ready(function(){
          $('textarea:not(.no-wysiwyg)').froalaEditor($.fraola_initializer);
      });
  </script>
</body>
</html>